.App {
color: #000;
  background-color: black;
}

.container {
padding: 0;
margin: 0;
list-style: none;
  display: flex;

  flex-flow: row wrap;

  justify-content: space-around;
align-content: center;
background:black;
align-content: stretch;

}

.children {
  flex:1;
  text-align:center;
  position: relative;

}


img {
  width: 100%;
  height: 100%;
display: block;

}
 
@media only screen and (max-width: 600px){
  .container {
    display: block;
  }
}

.App-title {

  text-align: center;
 color: aliceblue;
  
}

.App-header {
  background: rgb(0, 0, 0);
}




  .overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
  }

  .children:hover .overlay {
    opacity: 1;
  }